In [2]:
! pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
import pandas as pd

In [ ]:
#Leyendo datos geih
df_cgsse = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/cgsse.CSV", encoding='latin', sep=';')

In [5]:
df_cgsse.head()

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250626,6,2025,8238974,1,1,1,10,NaN,2,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,1.0,2.0,1.0
1,20250626,6,2025,8238974,1,2,1,10,NaN,2,...,2.0,NaN,5.0,1.0,NaN,1.0,NaN,2.0,1.0,1.0
2,20250626,6,2025,8238975,1,1,1,10,NaN,2,...,2.0,NaN,3.0,3.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250626,6,2025,8238975,1,2,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250626,6,2025,8238975,1,3,1,10,NaN,2,...,2.0,NaN,1.0,0.0,NaN,NaN,NaN,1.0,2.0,1.0

In [6]:
#Leyendo datos fuerza de trabajo
df_FuerzaTrabajo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV",encoding='latin',sep=';')

/tmp/ipykernel_9274/306961569.py:2: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_FuerzaTrabajo = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Fuerza%20de%20trabajo.CSV",encoding='latin',sep=';')

In [7]:
df_FuerzaTrabajo

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20250626,6,2025,8238974,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250626,6,2025,8238974,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250626,6,2025,8238975,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20250626,6,2025,8238975,1,2,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250626,6,2025,8238975,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54445,20250626,6,2025,8283060,1,1,1,50,88.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54446,20250626,6,2025,8283060,1,2,1,50,88.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54447,20250626,6,2025,8283062,1,1,1,50,94.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54448,20250626,6,2025,8283062,1,2,1,50,94.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54449,20250626,6,2025,8283062,1,3,1,50,94.0,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#Calculo PEA
PEA = df_FuerzaTrabajo[df_FuerzaTrabajo['FT']==1]['FEX_C18'].sum()
print("PoblaciÃ³n EconÃ³micamente Activa (PEA):", PEA)

#Calculo PEI
PEI = df_FuerzaTrabajo[df_FuerzaTrabajo['FFT']==1]['FEX_C18'].sum()
print("PoblaciÃ³n EconÃ³micamente Inactiva (PEI):", PEI)

PoblaciÃ³n EconÃ³micamente Activa (PEA): 25974846.22356785
PoblaciÃ³n EconÃ³micamente Inactiva (PEI): 14678569.776436238

In [14]:
25974846.22356785 + 14678569.776436238

40653416.00000409

In [16]:
#Calculo de la PET
PET = df_FuerzaTrabajo[df_FuerzaTrabajo['PET']==1]['FEX_C18'].sum()
print("PoblaciÃ³n EconÃ³micamente Trabajadora (PET):", PET)

PoblaciÃ³n EconÃ³micamente Trabajadora (PET): 40653416.00000409

In [17]:
PoblaciÃ³n_Total = df_cgsse['FEX_C18'].sum()
print("PoblaciÃ³n total nacionalestimada:", PoblaciÃ³n_Total)

PoblaciÃ³n total nacionalestimada: 52045001.000009045

In [21]:
PNET = PoblaciÃ³n_Total - PET
print("PoblaciÃ³n No EconÃ³micamente Trabajadora (PNET):" , PNET)

PoblaciÃ³n No EconÃ³micamente Trabajadora (PNET): 11391585.000004955

In [22]:
#Leyendo datos ocupados
df_Ocupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV",encoding='latin',sep=';')

/tmp/ipykernel_9274/2987131171.py:2: DtypeWarning: Columns (28,89,133,147,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Ocupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/Ocupados.CSV",encoding='latin',sep=';')

In [23]:
#Leyendo datos no ocupados
df_no_ocupados = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/GEIH2025/No%20ocupados.CSV", encoding='latin',sep=';')

In [ ]:
#Cantidad de personas ocupadas
o = df_Ocupados['FEX_C18'].sum()
print(f